html
	scroll-behavior: smooth
body
	margin: 0
	font-size: 14px
	font-family: $avenir
	font-weight: 400
	color: $black
	background-color: $white
	min-width: 320px

a
	text-decoration: none
	color: $white
	&:hover
		text-decoration: none



.inner
	max-width: 1170px
	margin: 0 auto
	padding: 0 15px

.block
	display: block