// colors
$white: #fff
$black: #000
$brown: #180c0c
$logo: #cfbf52
$gray: #e1e0e0
$dark-gray: #949494
$yellow: #f8e461
$light: #e1e0e0
$card-gray: #f7f7f7
$benefit: #f2f2f2
$coral: #d85c5c















// fonts
$avenir: 'AvenirNextCyr', 'Helvetica', sans-serif
$roboto: 'Roboto', 'Helvetica', sans-serif