.header
    padding: 28px 0 25px
    background-color: $brown
    color: $white
    &__inner
        display: flex
        align-items: flex-start
    &__logo
        display: flex
        align-items: flex-end
        padding-right: 47px
        padding-top: 5px
    &__img
        width: 54px
    &__title
        margin-left: 13px
    &__caption
        border-left: 2px solid $white
        padding: 10px 24px 0
        margin-top: 15px
        +f(22px, 500, 1)
    &__right
        margin-left: auto
        padding-right: 7px
    &__subtitle
        color: $gray
        line-height: 2.3
        padding-left: 4px
        letter-spacing: 0.02em
        font-size: 20px
        &_sm
            font-size: 16px
            line-height: 1.9
            letter-spacing: 0.02em
    &__tel
        +f(28px, 700, 0.64)
        span
            color: $dark-gray